@import './base.css';
@import '../scss/main.scss';
@import './fonts.css';

* {
  font-family: 'Noto Sans';
}

#app {
  font-weight: normal;
  background: rgba(0, 0, 0, 0.2);
  /* width: 100vw;
  height: 100vh; */
}

main {
  margin: auto;
}

a {
  text-decoration: none;
  color: rgb(24, 58, 46);
  transition: 0.4s;
  padding: 3px;
}
